/* logo */
.logo {
    font-size: 35px;
    margin: 3px auto;
    width: 50%;
    -webkit-font-smoothing: antialiased;
}

.logo a{
    color: #555555;
    text-decoration: none;
}

.logo b {
    color: #4cae4c;
}

/* login */

.login-page {
    background-color: #d2d6de;
}

#login-form {
    border: 1px solid transparent ;
    box-sizing: border-box;
    margin: 7% auto;
    width: 420px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
}


.login-item {
    margin: 7% auto;
    width: 80%;
}

.login-item input {
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 25px;
    width: 100%;

}

.login-label {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #323323;

}

.login-button {
    margin-left: 54%;
}


/* buttton */
.btn-success {
    background-color: #3c8dbc;
    border: 1px solid transparent ;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    padding: 8px;
    width: 150px;
}